
<header class="header">
    <div class="container header">
        <a routerLink="/home"> <img src="images/logo.png" alt="logo" class="logo"></a>
        
        <nav class="navbar">
            <ul class="menu">
                
                <li class="menu-item">
                    <a routerLink="/collection">collection</a>
                </li>
                <li class="menu-item">
                    <a routerLink="/catalog">catalogo</a>
                    <ul class="dropdown">
                        <li><a href="#">Camisetas</a></li>
                        <li><a href="#">Buzos y chaquetas</a></li>
                        <li><a href="#">Inferior</a></li>
                        <li><a href="#">Accesorios</a></li>
                      </ul>
                </li>
                <li class="menu-item">
                    <a routerLink="/product/list">product list</a>
                </li>
                <li class="menu-item">
                    <a routerLink="/product/detail"> product detail </a>

                </li>
                <li class="menu-item">
                    <a routerLink="/product/form"> product form </a>

                </li>
                <li class="menu-item">
                    <a routerLink="/register">register </a>

                </li>
                <li class="menu-item">
                    <a routerLink="/login">login </a>
                </li>
                <li class="menu-item">
                    <a (click)="logout ()">logout </a>

                </li>
            </ul>
        </nav>
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-bars"></i>
        
        <!-- <pre>{{userData |json }}</pre> -->
         @if (userData.username ){
            <p>

                Bienvenido {{userData.name}}
             </p>
         }
        
    </div>
</header>
  