<!-- <ul class="menu menu-main">
    <li> <a 
        [routerLink]="['home']" 
        routerLinkActive="active"
        >home </a>
    </li>
    <li> <a 
        [routerLink]="['product','list']" 
        routerLinkActive="active" 
        >product-list </a>
    </li>
    <li> <a
         [routerLink]="['/product/detail']"
         routerLinkActive="active"
         >product-detail </a>
        </li>
    <li> <a
         [routerLink]="['/login']"
         routerLinkActive="active"
         >login </a>
        </li>
    <li> <a 
        [routerLink]="['/register']"
        routerLinkActive="active"
        >register </a>
    </li>
    
</ul> -->

<header class="header">
    <div class="container header">
        <a routerLink="/home"> <img src="images/logo.png" alt="logo" class="logo"></a>
        
        <nav class="navbar">
            <ul class="menu">
                
                <li class="menu-item">
                    <a routerLink="/collection">COLECCIÓN</a>
                </li>
                <li class="menu-item">
                    <a routerLink="/catalog">CATÁLOGO</a>
                </li>
            </ul>
        </nav>
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-bars"></i>

        <pre>{{userData |json }}</pre>
    </div>
</header>
