table {
    border: darkgrey;
    width: 90%;
    border-collapse: collapse;
    font-family: Tajawal;
    margin: 10% auto;
}

th {
    color: darkorange;
    text-align: left;
}
td.edit {
    display: flex;
    justify-content: space-around;
    padding: 5%;
}
a.eliminar {
    cursor: pointer;
    padding: 5%;
    background-color: rgb(242, 46, 11);
    border-radius: 30px;
}

a.editar {
    cursor: pointer;
    padding: 5%;
    background-color: dodgerblue;
    border-radius: 30px;
}