


        
            <div class="card">
                <img class="product-image" alt="">
            </div>
            <div class="product-details">
                <h1>PANTALÓN RETRO (BEIGE)</h1>
                <p class="price">$ 80.000</p>
                <div class="sizes">
                    <h3>TALLAS DISPONIBLES</h3>
                    <span>S</span>
                    <span>M</span>
                    <span>L</span>
                </div>
                <div class="quantity">
                    <h3>Cantidad</h3>
                    <button>-</button>
                    <input type="number" value="1" min="1">
                    <button>+</button>
                </div>
                <button class="btn-add-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                <button class="btn-buy-now">Comprar ahora</button>
            </div>
        



