<!-- 
        <pre>
            {{product|json}}
        </pre> -->
        
            <div class="card">
                <!-- <img class="product-image" alt=""> -->
                <div class="image-product">
                    <img class="product-detail-image" [src]="product?.urlImage">
                </div>
                <div class="product-details">
                    
                    <h1 class="tittle-product"> {{ product?.name }} </h1>
                    <p class="price"> {{product?.price | currency}} </p>
                    <div class="sizes">
                        <h3 class="sizes-available">TALLAS DISPONIBLES</h3>
                        <!-- <select value="tallas">
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                        </select> -->
                        <label for="">S
                            <input type="radio" name="talla" value="s">
                        </label>
                        <label for="">M
                            <input type="radio" name="talla" value="m">
                        </label>
                        <label for="">L
                            <input type="radio" name="talla" value="l">
                        </label>
                        
                        
                    </div>
                    <div class="quantity">
                        <h3> {{ product?.quantity }} </h3>
                    </div>
                        <div class="button-selector">
                            <button class="mas-menos">-</button>
                            <input type="number" value="1" min="1">
                            <button class="mas-menos">+</button>
                        </div>
                    <span class="btn-add-cart">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                    </span>
                    <button class="btn-buy-now">Comprar ahora</button>
                </div>
            </div>
            
        
        
            



