<!-- <p> {{products}} </p> -->


<ul class="product-list">
    @for (item of products; track $index) {
    <li class="product-list-item">
        <div class="card">
            <img class="product-image" [src]="item.urlImage" [alt]="item.name" style="width:100%">
            <div class="product-info">
                <h4> {{item.name}}</h4>
                <p> {{item.price | currency}} </p>
                <p> {{item.quantity}} </p>
                <p> {{item.category.categoria}} </p>
                <a href="#"> Agregar al carrito </a>
            </div>
        </div>
    </li>
    }

</ul>